body {
	font-family: 'Lucida Sans',Tahoma,sans-serif;
	font-size: 13px;
	margin: 0;
	border: 0;
}

h2{
	color: #1a8eb7;
}

.header{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	width: 90%;
	background: #000000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzBhMDcwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTQ1NDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #000000 0%, #0a0701 78%, #454545 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(78%,#0a0701), color-stop(100%,#454545)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#0a0701 78%,#454545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#0a0701 78%,#454545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#0a0701 78%,#454545 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#0a0701 78%,#454545 100%); /* W3C */
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'Times New Roman','Cambria',serif;
}

.nav{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	width: 90%;
	background: #f5f5f5; /* Old browsers */
	border-bottom: 2px solid #ddd;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	text-align: center;
}

.login{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 20px;
	background: #f5f5f5;
	border: 2px solid #ddd;
}

.formErrors{
	color: red;
	font-size: 10px;
}

.wrapper{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.sidebar{
	margin: 0;
	margin-left: -5px;
	width:20%;
	float: left;
}

.canvas{
	float: right;
	margin:0;
	margin-right: -5px;
	width: 75%;
	background: #f9f6f6;
	border: 2px solid #ddd;
	padding: 10px;
}

.canvas h2{
	margin: 0;
}

.canvas table{
	width: 100%;
	border: 1px solid #000;
}

.canvas table th{
	background: #454545;
	color: #fff;
	text-align: center;
	border-collapse: collapse;
}

.canvas td{
	border-collapse: collapse;
}

.bluebutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#454545;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.bluebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

.bluebutton:active {
	position:relative;
	top:1px;
}


label, input[type="text"]{
	float:left;
	display:block;
}

label, input[type="file"]{
	float:left;
	display:block;
}

label, input[type="password"]{
	float:left;
	display:block;
}

label, textarea{
	float:left;
	display:block;
}

label
{
	margin-right: 5px;
}

.field{
	width:100%;
	overflow:auto;
	margin:5px 0px;
}

